ui_tree/
*.zip
*/el.json


"//Window[@ClassName='Window'][2]/Window[@ClassName='Window'][1]/Custom[@ClassName='BlockSettingsView'][1]/Button[@Name='取消']"
"//Window[@ClassName='Window'][2]/Window[@ClassName='Window'][1]/Custom[@ClassName='BlockSettingsView'][1]/Button[@Name='取 消']"
